@charset "UTF-8";
/* CSS Document */
body {
	color: #151515;
	margin: 0 0 000px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.header {
	font-family: "Brush Script MT", cursive;
	text-align: center;
	font-size: 300%;
}
.nav {
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin-right: 20px;
}
.right {
   float: right;
}
.photo {
	width: 100%;
	z-index: 0;
}
.social {
	float: left;
	margin-left: 20px;
}
.footer {
	font-family: "Brush Script MT", cursive;
	text-align: center;
}
.contact {
	float: right;
	clear: right;
	color: #000000;
	margin-right: 20px;
	margin-top: 5px;
}
.city {
	margin-bottom: 5px;
	margin-left: 20px;
	max-width: 200px;
	float: left;
}
a {
	text-decoration: none;
	color: #000000;
}
.gallery {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
}
img {
	padding-top: 1em;
}
.p {
	margin-top: 75px;
	text-align: center;
	width: 40%;
	margin-left: 30%;
}
.beach {
	width: 100%;
}